@charset "UFT-8";
body {
    background-color: rgb(218, 218, 231);
    color: rgb(170, 12, 12);
    font: normal 20pt Arial;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}